{% extends "clinician_overview/clinician_base_layout.html" %} 
{% load static %}
{% block title %} Clients {% endblock %} 
{% block head %}
<link rel="stylesheet" href="{% static 'clinician_overview/clients_page.css' %}">
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", (event) => {
    const regenerate_id_button = document.getElementById("regenerate-id-button");
    const generated_client_id_input = document.getElementById("generated-client-id-input");
    // 
    regenerate_id_button.addEventListener("click", ev => {
      fetch('/clinician/random-client-id').then(r => r.json()).then(response => {
        const { client_id } = response;
        generated_client_id_input.value = client_id;
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="page-white-background">
  <header>
    <h2 class="tab-header">Clients</h2>
  </header>
  <div>
    
  </div>
  <div style="display:grid; grid-template-columns: 4fr 1fr;">
    <!--select, client id, tags, screening, pre-intervention measures, post-intervention measures, feedback form-->
    <table class="etable" style="max-width: 90%;">
      <thead>
        <tr class="etable-header-row">
          <th class="etable-header-cell"></th>
          <th class="etable-header-cell">Client Id</th>
          <th class="etable-header-cell">Tags</th>
          <th class="etable-header-cell">Screening</th>
          <th class="etable-header-cell">Pre-Intervention<br />Measures</th>
          <th class="etable-header-cell">Post-Intervention<br />Measures</th>
          <th class="etable-header-cell">Feedback Form</th>
        </tr>
      </thead>
      <tbody>
        {% for client_info in client_infos %}
        <tr class="etable-row">
          <td class="etable-cell"></td>
          <td class="etable-cell"><a class="client-id-link" href="{% url 'client_summary' client_info.client_id %}">{{ client_info.client_id }}</a></td>
          <td class="etable-cell">
            {% for tag in client_info.tags %}
              <span class="client-tag etable-cell-pill bluish-pill">{{tag}}</span>
            {% endfor %}
          </td>
          {% if client_info.screening_date %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill bluish-pill">
                {{ client_info.screening_date }}
              </span>
            </td>
          {% else %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill grey-pill">
                Not Submitted
              </span>
            </td>
          {% endif %}
          {% if client_info.pre_intervention_measures_date %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill bluish-pill">
                {{ client_info.pre_intervention_measures_date }}
              </span>
            </td>
          {% else %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill grey-pill">
                Not Submitted
              </span>
            </td>
          {% endif %}
          {% if client_info.post_intervention_measures_date %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill bluish-pill">
                {{ client_info.post_intervention_measures_date }}
              </span>
            </td>
          {% else %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill grey-pill">
                Not Submitted
              </span>
            </td>
          {% endif %}
          {% if client_info.feedback_form_date %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill bluish-pill">
                {{ client_info.feedback_form_date }}
              </span>
            </td>
          {% else %}
            <td class="etable-cell">
              <span class="client-tag etable-cell-pill grey-pill">
                Not Submitted
              </span>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="max-width: 90%;">
      <form id="register-client-id-form" method="post" action="/clinician/create-client-id">
        <div style="display:flex;flex-direction:column;">
          <h3>
            New Client
          </h3>
          {% csrf_token %}
          <div class="horizontal-flex-centally-aligned">
            <span>
              Client ID:
            </span>
            <div>
              <input id="generated-client-id-input" name="new_client_id" disabled readonly value="{{ initial_client_id }}"/>
              <button id="regenerate-id-button" type="button">
                <span class="material-symbols-outlined">
                  cached
                </span>
              </button>
            </div>
          </div>
          <div class="horizontal-flex-centally-aligned">
            <span>
              Access: 
            </span>
            <select name="duration" style="min-width: 9em;">
              <option value="3">3 days</option>
              <option value="7">7 days</option>
              <option value="14">14 days</option>
            </select>
          </div>
          <input type="submit" value="Create Client"/>

        </div>
      </form>

    </div>

  </div>
</div>
{% endblock %}
