{% extends 'clinician_overview/client_base_header_and_tags_layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'clinician_overview/client_response_page.css' %}">
<link rel="stylesheet" href="{% static 'clinician_overview/client_summary_page.css' %}">
{% endblock %}
{% block title %} Client Response {% endblock %}

{% block client-data %}
<h2>
{{questionnaire_title}}
</h2>
<span>
  {{html_result_display}}
</span>
<div class="etable-container">
  <table class="etable" id="client-responses-table">
    <thead>
      <tr class="etable-header-row">
        <th class="etable-header-cell">Question</th>
        <th class="etable-header-cell">Response</th>
      </tr>
    </thead>
    {% for item in response_items %}
    <tr class="etable-row">
      <td class="etable-cell">{{item.question.text}}</td>
      <td class="etable-cell">
        {% if item.answerID %}
          {{item.answerID.text}}
        {% else %}
          {{item.answer}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}