{% extends 'clinician_overview/client_base_header_and_tags_layout.html' %}
{% load tz %}
{% load static %}
{% block title %} Clients {% endblock %}

{% block client-data %}
<div>
    <div id="overview-tables-container">
        <div id="at-a-glance-table">
            <h2 class="table-header">
                At a Glance
            </h2>
            <div class="etable-container">
                <table class="etable">
                    <thead>
                        <tr class="etable-header-row">
                            <th class="etable-header-cell">Screening</th>
                            <th class="etable-header-cell">Pre-Intervention Measures</th>
                            <th class="etable-header-cell">Post-Intervention Measures</th>
                            <th class="etable-header-cell">Feedback Form</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="etable-row">
                            <td class="etable-cell">
                                {% if screening %}
                                    <span class="etable-cell-pill bluish-pill"> {{screening}} </span>
                                {% else %} 
                                    <span class="etable-cell-pill grey-pill">Not Submitted</span>
                                {% endif %}
                            </td>
                            <td class="etable-cell">
                                {% if pre_intervention_measures %}
                                    <span class="etable-cell-pill bluish-pill">
                                        {{pre_intervention_measures}} 
                                    </span>
                                {% else %} 
                                    <span class="etable-cell-pill grey-pill">
                                        Not Submitted
                                    </span>
                                {% endif %}
                            </td>
                            <td class="etable-cell">
                                {% if post_intervention_measures %}
                                    {{post_intervention_measures}} 
                                {% else %} 
                                    <span class="etable-cell-pill grey-pill">
                                        Not Submitted
                                    </span>
                                {% endif %}
                            </td>
                            <td class="etable-cell">
                                {% if feedback_form %}
                                    {{feedback_form}} 
                                {% else %} 
                                    <span class="etable-cell-pill grey-pill">
                                        Not Submitted
                                    </span>
                                    
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="step-solo-access">
            <h2 class="table-header">
                STEP Solo Access
            </h2>
            <div class="etable-container">
                <table class="etable">
                    <thead>
                        <tr class="etable-header-row">
                            <th class="etable-header-cell">Access Code</th>
                            <th class="etable-header-cell">Issued Date</th>
                            <th class="etable-header-cell">Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="etable-row">
                            <th class="etable-cell">{{access_status}}</th>
                            <th class="etable-cell">{{access_renewed_date | localtime}}</th>
                            <th class="etable-cell">{{access_expiry_date | localtime}}</th>
                        </tr>
                    </tbody>
                </table>
                <div id="access-buttons-container">
                    <form method="POST" action="/clinician/extend-access">
                        {% csrf_token %}
                        <select name="duration">
                            <option value="3">3 Days</option>
                            <option value="7">7 Days</option>
                            <option value="14">14 Days</option>
                        </select>
                        <input type="hidden" name="client_id" value="{{client_id}}">
                      <button type="submit" id="extend-access-button" class="etable-cell-pill button-pill">Extend Access</button>
                  </form>
                  <form method="POST" action="/clinician/revoke-access">
                    {% csrf_token %}
                    <input type="hidden" name="client_id" value="{{client_id}}">
                    <button type="submit" id="remove-access-button" class="etable-cell-pill button-pill">Remove Access</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="selectable-table">
        <h2 class="table-header">
            Submissions
        </h2>
        <div class="bottom-margin">
            <div class="etable-filter-container">
                <label for="form-filter">Filter</label>
                <select id="form-filter-select" name="form-filter" onclick="filterTable()"> 
                        <option value=""> </option>
                    {% for form_type in form_submissions_filter_options %}
                        <option value="{{ form_type }}">{{ form_type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="etable-filter-container">
                <label for="sort-order">Sort by</label>
                <select id="sort-order-select" name="sort-order">
                    <option value=""></option>
                    <option value="submission-date-desc" onclick="sortTable(sortRowsDateDesc)">Submission Date (Newest first)</option>
                    <option value="submission-date-asc" onclick="sortTable(sortRowsDateAsc)">Submission Date (Oldest first)</option>
                    <option value="range-desc" onclick="sortTable(sortRowsSeverity)">Range (Elevated first)</option>
                </select>
            </div>

        </div>
        <div class="centered-flex-container flex-space-between clickable-div" id="submissions-controls">
            <div class="centered-flex-container">
                <div class="centered-flex-container hide-when-no-rows-selected">
                    <span id="selected-counter">
                        0
                    </span>
                    selected
                </div>
                <div class="centered-flex-container hide-when-no-rows-selected clickable-div" onclick="deleteListener((identifier) => `/clinician/clients/${identifier}/delete-submissions`)">
                    <span class="material-symbols-outlined material-tags-control-badge">
                        delete
                    </span>
                    Delete
                </div>
            </div>

            <div class="centered-flex-container clickable-div" onclick="downloadRowsListener()">
                <span class="material-symbols-outlined material-tags-control-badge">
                    file_export
                </span>
                Export
            </div>
        </div>
        <div class="etable-container">
            <table class="etable" id="submissions-table">
                <thead>
                    <tr class="etable-header-row">
                        <th class="etable-header-cell"></th>
                        <th class="etable-header-cell data-cell">Form</th>
                        <th class="etable-header-cell data-cell">Submission Date</th>
                        <th class="etable-header-cell data-cell">Results</th>
                        <th class="etable-header-cell data-cell">Scheduled Deletion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                        <tr class="etable-row" data-form="{{ submission.form }}" data-id="{{submission.id}}">
                            <td class="etable-cell"><input type="checkbox" onclick="handleRowSelect()"></td>
                            <td class="etable-cell data-cell" data-label="Submission"><a href="/clinician/clients/{{client_id}}/response/{{submission.id}}">{{submission.form}}</a></td>
                            <td class="etable-cell data-cell" data-label="Submitted">{{submission.submission_date}}</td>
                            <td class="etable-cell data-cell" data-label="Results">{{submission.results}}</td>
                            <td class="etable-cell data-cell" data-label="Deletion">{{submission.scheduled_deletion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    /** 
     * Fires when the user signals that they want to download a CSV with submission results.
     * If they selected rows: those rows will be exported.
     * If they didn't select anything: all rows will be downloaded.
    */
    const downloadRowsListener = async () => {
        // parse the client identifier from the URL
        const urlSections = window.location.pathname.split('/');
        // the client identifier will be the last section of the url path -- extract it
        const clientIdentifier = urlSections[urlSections.length - 1];

        const headerRow = document.querySelector('#selectable-table .etable-header-row');
        // get the text of each header, filtering out empty header (the column containing checkboxes)
        const headers = Array.from(headerRow.querySelectorAll('th.data-cell')).map((el) => el.textContent)
        
        // find the rows in the table that have a checked checkbox in them
        const selectedRows = Array.from(document.querySelectorAll('#selectable-table .etable-row:has(input:checked)'));
        const allRows = Array.from(document.querySelectorAll('#selectable-table .etable-row'));

        // if the user didn't select anything, export all rows
        const exportedRows = selectedRows.length === 0 ? allRows : selectedRows;
        let rowsData = [];
        for (const row of exportedRows) {
            const thisRowData = Array.from(row.querySelectorAll('td.data-cell')).map((el) => el.textContent);
            rowsData.push(thisRowData)
        }


        const response = await fetch(`/clinician/clients/${clientIdentifier}/export`, {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",  // Django requires this for POST
            },
            body: JSON.stringify({ headers: headers, rows: rowsData })
        });

        const blob = await response.blob();
        const url = URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "export.csv";
        a.click();
        URL.revokeObjectURL(url);
    }


    const sortRowsSeverity = (a, b) => {
        const aVal = a.cells[3].textContent;
        const bVal = b.cells[3].textContent;

        if (aVal.includes("Elevated")) {
            return false;
        }
        return true;
    }

    // remove a.m and p.m notation to allow the date to parse properly
    const parseDate = (str) => {
    const cleaned = str.trim()
        .replace('a.m.', 'AM')
        .replace('p.m.', 'PM');
    return new Date(cleaned);
    };

    const sortRowsDateAsc = (a, b) => {
        const aVal = parseDate(a.cells[2].textContent);
        const bVal = parseDate(b.cells[2].textContent);

        console.log("aVal: ", aVal, "bVal: ", bVal, "result of sort: ", aVal - bVal);

        return aVal - bVal;
    }

    const sortRowsDateDesc = (a, b) => {
        const aVal = parseDate(a.cells[2].textContent);
        const bVal = parseDate(b.cells[2].textContent);

        return bVal - aVal;
    }

    // sort the submissions table
    const sortTable = (sortFunc) => {
        const rows = Array.from(document.querySelectorAll("#selectable-table .etable-row"));
        const table = document.querySelector("#selectable-table tbody");
        rows.sort(sortFunc);

        rows.forEach(row => table.appendChild(row));
    }

    // filter the table when a form is selected
    const filterTable = () => {
        const selected = document.getElementById("form-filter-select").value;
        const rows = document.querySelectorAll("#selectable-table .etable-row");
        for (const row of rows) {
            if (selected && !(row.dataset.form == selected) ) {
                row.style.display = "none";
            } else {
                row.style.display = "table-row";
            }
        }
    }
</script>
{% endblock %}
