{% extends 'clinician_overview/clinician_base_layout.html' %}
{% load static %}
{% block title %} Clients {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'clinician_overview/client_summary_page.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
{% endblock %}


{% block content %}
<header>
    <h2 class="tab-header">Clients</h2>
    <a id="back-to-all-clients" href="/clinician/clients">
        <span class="material-symbols-outlined">
            arrow_back_ios
        </span>
        <span class="link-text">
            Back to all clients
        </span>
    </a>
</header>
<div id="client-data-container">
    <div id="client-header-container">
        <h1 id="client-id">
            {{client_id}}
        </h1>
        <div id="tags-list-container">
            {% for tag in client_tags %}
                <span class="client-tag white-tag-pill">{{tag}}</span>
            {% endfor %}
        </div>
        <div class="tags-control-button" id="edit-tags-container">
            <span class="material-symbols-outlined material-tags-control-badge">
                edit
            </span>
            <i>Edit Tags</i>
        </div>
    </div>
    <div id="client-summary-body">
        <div id="overview-tables-container">
            <div id="at-a-glance-table">
                <h2 class="table-header">
                    At a Glance
                </h2>
                <table class="etable">
                    <thead>
                        <tr class="etable-header-row">
                            <th class="etable-header-cell">Screening</th>
                            <th class="etable-header-cell">Pre-Intervention Measures</th>
                            <th class="etable-header-cell">Post-Intervention Measures</th>
                            <th class="etable-header-cell">Feedback Form</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="etable-row">
                            <th class="etable-cell">02/10/2026</th>
                            <th class="etable-cell">02/11/2026</th>
                            <th class="etable-cell">Not Submitted</th>
                            <th class="etable-cell">Not Submitted</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="step-solo-access">
                <h2 class="table-header">
                    STEP Solo Access
                </h2>
                <table class="etable">
                    <thead>
                        <tr class="etable-header-row">
                            <th class="etable-header-cell">Access Code</th>
                            <th class="etable-header-cell">Issued Date</th>
                            <th class="etable-header-cell">Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="etable-row">
                            <th class="etable-cell">Expiring Soon</th>
                            <th class="etable-cell">02/10/2026</th>
                            <th class="etable-cell">02/25/2026</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="submissions-table">
            <h2 class="table-header">
                Submissions
            </h2>
            <table class="etable">
                <thead>
                    <tr class="etable-header-row">
                        <th class="etable-header-cell"></th>
                        <th class="etable-header-cell">Form</th>
                        <th class="etable-header-cell">Submission Date</th>
                        <th class="etable-header-cell">Results</th>
                        <th class="etable-header-cell">Scheduled Deletion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="etable-row">
                        <th class="etable-cell"></th>
                        <th class="etable-cell">Post-Intervention GSE</th>
                        <th class="etable-cell">02/10/2026 10:15 AM</th>
                        <th class="etable-cell">Elevated - Priority Review</th>
                        <th class="etable-cell"><= 14 days</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // add ability to edit tags
    const editDiv = document.getElementById("edit-tags-container");
    const clientHeader = document.getElementById("client-header-container");
    const tagsContainer = document.getElementById("tags-list-container");

    const deleteEventListener = (button) => {
        // delete the parent
        button.parentElement.remove();
    }

    if (editDiv && clientHeader && tagsContainer) {
        editDiv.addEventListener("click", (_) => {
            const editDivOriginal = document.getElementById("edit-tags-container");
            if (editDivOriginal && clientHeader && tagsContainer) {
                // 1. display the add button
                editDiv.outerHTML = `
                    <div class="white-tag-pill" id="add-tag-input-container">
                        <input type="text" id="add-tag-input" placeholder="New Tag">
                        <span class="material-symbols-outlined" id="add-button">
                            add
                        </span>
                    </div>
                    <div class="tags-control-button" id="save-tags-button">
                        <span class="material-symbols-outlined material-tags-control-badge">
                            check
                        </span> 
                        <i>Save Tags</i>
                    </div>
                `;
                editDiv.id = "add-tags-container"; // change the ID

                // 2. add delete buttons to all the tags
                const tags = Array.from(tagsContainer.getElementsByClassName("client-tag"));
                tags.forEach((el) => {
                    const deleteButton = document.createElement("span");
                    deleteButton.classList.add("material-symbols-outlined", "delete-icon");
                    deleteButton.textContent = "close";
                    deleteButton.addEventListener("click", (_) => deleteEventListener(deleteButton));

                    el.appendChild(deleteButton)
                })

                
                // 3. add event listener to add button
                const addButton = document.getElementById("add-button");
                addButton.addEventListener("click", (_) => {
                    // get enetered value
                    const addTag = document.getElementById("add-tag-input");
                    const eneteredValue = addTag?.value;

                    // clear out the input
                    addTag.value = "";

                    // create the new tag pill
                    const newTag = document.createElement('span');

                    // create the delete button and hook up the event listener
                    const deleteButtonSpan = document.createElement("span");
                    deleteButtonSpan.classList.add("material-symbols-outlined", "delete-icon");
                    deleteButtonSpan.textContent = "close";
                    deleteButtonSpan.addEventListener("click", (_) => deleteEventListener(deleteButtonSpan));

                    newTag.classList.add("client-tag", "white-tag-pill");
                    newTag.textContent = eneteredValue;
                    newTag.appendChild(deleteButtonSpan);
                    tagsContainer.appendChild(newTag);

                })

                // 4. add event listener to save button
                const saveButton = document.getElementById("save-tags-button");
                saveButton.addEventListener("click", (_) => {
                    // hide the save button
                    saveButton.remove();

                    // hide the delete buttons
                    const deleteIcons = Array.from(document.getElementsByClassName("delete-icon"));
                    deleteIcons.forEach((el) => el.remove());

                    // hide the new tag input
                    const newTagInput = document.getElementById("add-tag-input-container");
                    newTagInput.remove();
                })
            }
        })
    }
</script>
{% endblock %}