{% load static %}
<html lang="en">
  <head>
    <title>Clinician Overview</title>
    <link rel="stylesheet" href="{% static 'clinician_overview/client_responses_page_styles.css' %}">
    <link rel="stylesheet" href="{% static 'clinician_overview/nav_styles.css' %}">
  </head>
  <body>
    {% include 'clinician_overview/navbar.html' %}
    <main>
      <h1>My Clients</h1>
      <ul>
        {% for client_id in client_ids %}
          <li><a href="/clinician/{{client_id}}">{{client_id}}</a></li>
        {% endfor %}
      </ul>
    </main>
  </body>         
</html>