{% load static %}
<html lang="en">
  <head>
    <title>Clinician Overview</title>
    <link rel="stylesheet" href="{% static 'clinician_overview/client_responses_page_styles.css' %}">
  </head>
  <body>
    <h1>Responses for {{ client_id }}</h1>
    <table>
      <thead>
        <th>Questionnaire</th>
        <th>Submitted At</th>
      </thead>
      <tbody>
        {% for response in responses %}
        <tr class="row">
          <td><a href="/clinician/response/{{response.questionnaire_response_id}}">{{response.questionnaire_name}}</a></td>
          <td>{{response.submitted_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>         
</html>