{% extends 'step_together/step-together-module-base.html' %} {% load static %}

{% block title %} Check-In {% endblock %} 

{% block step-together-header-image %}
<img src="{% static 'step_together/module-thumbnails/checkin.jpeg' %}">
{% endblock %}
{% block step-together-text %}
    <h1 class="module-header">
        Check-In
    </h1>    
    <h2 class="module-subheader">
        STEP Together Protocol
    </h2>
    <div>
        <p class="bold-note">
            Leaders - please read the text below to your participants. 
        </p>
        <p>
            Please send us your 0 to 10 ratings BEFORE and AFTER the 4 Elements exercise.
        </p>
        <p class="orange-note bold-note">
            <i>
                ⭐ Let the group members know how to send their scores. For example, they might use the private message function of the Zoom chat box.
            </i>
        </p>
        <p class="bold-note">
            Give me a thumbs up when you have sent your BEFORE and AFTER scores.
        </p>
        <p class="blue-note bold-note">
            <i>
                Wait for thumbs up from all participants before proceeding. 
            </i>
        </p>
        <p>
            That brings us to an end for today.
        </p>
        <p>
            We will be checking in with each of you to discuss the next steps with each group member individually to ensure that everyone gets what they need.
        </p>
        <p>
            It was a pleasure being with you today. Thank you for your time.
        </p>
        <p>
            I look forward to reviewing your feedback on the 4 Elements exercise for stress relief. We will see each of you again soon.
        </p>
        <p class="bold-note blue-note">
            <i>
                Tell the group members how you plan to contact them between this session and the next.
            </i>
        </p>
        <p>
            Until then, take care. Bye for now.
        </p>
        <p class="orange-note bold-note">
            <i>
             ⭐ Check in with facilitators. This is the end of the first session. Prior to the next session, contact each group member individually to discuss the next steps. If any of the group members may be better suited for another type of intervention (given their score of above 7 following the 4 Elements video or another clinical reason), please gently guide them to continue to a more suitable treatment plan.
            </i>
        </p>
    </div>

{% endblock %}

