{% extends 'step_together/step-together-module-base.html' %} {% load static %}

{% block title %} Ending {% endblock %} 

{% block step-together-header-image %}
<img src="{% static 'step_together/module-thumbnails/ending.jpeg' %}">
{% endblock %}
{% block step-together-text %}
    <h1 class="module-header">
        Ending
    </h1>    
    <h2 class="module-subheader">
        STEP Together Protocol
    </h2>
    <div>
        <p class="bold-note">
            Leaders - please read the text below to your participants. 
        </p>
        <p>
            We would like you to take a moment after we end to open the ‘feedback form’ that was sent to you and take a couple of minutes to complete it. We would like to receive your 0 to 10 ratings from your work today. If you are interested in sharing your worksheets with the group leader, please take a picture of them and send them via email.
        </p>
        <p>
            Thank you for sharing. It has been a pleasure working with you today! Thank you for using STEP Together. You will receive your post-test measures in one week. We will be checking in with you in the next couple of days. I want to thank you for the opportunity to do this protocol with you. We will look forward to seeing you again.
        </p>

        <br>

        <p class="blue-note bold-note">
            <i>
                This is the end of the group. Please proceed to the module "After the Group" for guidance on next steps. 
            </i>
        </p>

    </div>

{% endblock %}

