{% extends 'step_together/step-together-module-base.html' %} {% load static %}

{% block title %} STEP Self-Care Introduction {% endblock %} 

{% block step-together-header-image %}
<video id="vid" predownload src="{{ video_url }}" controls controlsList="nodownload" oncontextmenu="return false;"></video>
{% endblock %}
{% block step-together-text %}
    <h1 class="module-header">
        4 Elements
    </h1>    
    <h2 class="module-subheader">
        STEP Together Protocol
    </h2>
    <div>
        <p class="bold-note">
            Leaders - please read the text below to your participants. 
        </p>

        <p>
            Let’s take 10 minutes now before we end to do the 4 Elements exercises once more. Remember, you can take these activities with you and do them whenever you want to lower your stress level. Let’s watch the last video together now.
        </p>
        <p class="blue-note bold-note">
            <i>
                Play Video. 
            </i>
        </p>
    </div>

{% endblock %}

{% block step-together-next-button %}
    Next Module
{% endblock %}
