{% load static %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />


    {% block head %}{%endblock%}
    <link rel="stylesheet" href="{% static 'step_together/module-styles.css' %}">
    <link rel="stylesheet" href="{% static 'clinician_overview/clinician_base_styles.css' %}">
  </head>
  <body>
    {% block content %}
        <div id="step-together-video-container">
            {% block step-together-video %}
            {% endblock %}
            <div id="module-thumbnail">
                {% block step-together-header-image %}
                {% endblock %}
            </div>

        </div>
        <div id="step-together-body-container">
            <div id="step-together-text">
                {% block step-together-text %}
                {% endblock %}
                <div class="next-module-button">
                    Next
                </div>
            </div>
            <div id="step-together-links">
                <p id="downloads-header">Downloads</p>
                {% block content-links %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <footer>
        <img src="{% static 'clinician_overview/STEP Logo_White.png' %}" id="footer-logo">
        <span>
            © 2026 Prepped 4 Learning
        </span>
    </footer>

  </body>

</html>


