{% extends 'clinician_overview/clinician_base_layout.html' %} {% load static %}
{% load static %}
{% load form_extras %}

{% block title %} STEP Together {% endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static 'step_together/styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-white-background">
  <header>
    <h1 class="tab-header">STEP Together</h1>
  </header>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Clinician Agreement</h2>
    <div class="st-cards">
      <div class="st-card">
        <p class="st-card-label">Clinician Agreement</p>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Manual</h2>
    <div class="st-cards">
      <div class="st-card">
        <p class="st-card-label">Manual</p>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">Before the Group</h2>
    <div class="st-cards">
      <div class="st-card">
        <p class="st-card-label">Before the Group</p>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Protocol</h2>
    <div class="st-cards">
      <div class="st-card">
        <p class="st-card-label">Session 1</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 2</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 3</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 4</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 5</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 6</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 7</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 8</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 9</p>
      </div>
      <div class="st-card">
        <p class="st-card-label">Session 10</p>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">After the Group</h2>
    <div class="st-cards">
      <div class="st-card">
        <p class="st-card-label">After the Group</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
