{% extends 'step_together/step-together-module-base.html' %} {% load static %}

{% block title %} Pre-Group Checklist, Materials & Forms {% endblock %} 

{% block step-together-header-image %}
<img src="{% static 'step_together/module-thumbnails/before-the-group.jpeg' %}">
{% endblock %}
{% block step-together-text %}
    <h1 class="module-header">
        Pre-Group Checklist, Materials & Forms
    </h1>    
    <h2 class="module-subheader">
        Before the Group
    </h2>
    <div>
        <p>
            Below, you will find everything you will need before beginning your first STEP Together group. Please ensure you read each piece carefully! 
        </p>
        <ol>
            <li>
                <span class="bold-note">STEP Emails:</span> 
                Please review the STEP Emails document for guidance on what emails to send at each point in the process. These emails serve as a guide and may be adapted to be appropriate for the demographics and needs of your clients. Flow charts are included in this document to provide a visual overview of the process. 
                <span class="orange-note">
                (Available for download under the "Downloads" section - STEP Emails).
                </span>
            </li>
            <li>
                <span class="bold-note">Group Participants Form: </span>
                Please complete the Group Participants Contact Information form to ensure you have all the information you need from your group members in case you are disconnected or an individual is experiencing severe distress. 
                <span class="orange-note">
                (Available for download under the "Downloads" section - STEP Contact Info).   
                </span>
            </li>
            <li>
                <span class="bold-note">Participant Consent Form: </span>
                Please send consent forms to your participants for completion and an information letter for them to review. We have included a sample consent form and information letter that you may use. If you are conducting your own research, you will need to provide your group participants with your own research letter, consent forms, and any demographic information needed for your study. 
                <span class="orange-note">
                (Available for download under the "Downloads" section - STEP Consent and STEP Info Letter).  
                </span> 
            </li>
            <li>
                <span class="bold-note">Assign Clients a Unique Identifier:</span>
                To maintain client confidentiality when using the Screening and Pre-and-Post Data Forms, assign each client a unique identifier. Clients will use this identifier instead of their names when completing the forms. The responses will be emailed to you, and the unique identifier will allow you to match each response to the corresponding client. It is crucial to keep a secure record of each client’s unique identifier and their corresponding identity. Store this information in a safe location to maintain confidentiality and protect client privacy.
                <br>
                <br>
                You may use any system that suits your workflow. For example, you could generate a random string of characters like 7fG8Hk9J as a unique identifier. Ensure each identifier is unique to avoid confusion or difficulty in distinguishing client responses. Additionally, be careful not to assign the same identifier to multiple clients. 
                <span class="orange-note">
                Review the STEP manual for additional information about the use of unique identifiers. 
                </span>
            </li>
            <li>
                <span class="bold-note">Screening Forms:</span>
                Please send the link to the ITQ and the DES-T to your clients for the initial screening before the STEP Assessment Forms. As a reminder, if they are experiencing complex PTSD or severe dissociation, they should receive a one-to-one intervention rather than STEP Together. More information about the inclusion criteria for STEP Together groups is available in the manual. 
                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 1 %}">
                    {{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 1 %}
                </a>.
        
                <span class="bold-note">
                You will receive their results via email - please record your client's results in their file as you receive them (e.g., print the email). 
                </span>
            </li>
            <li>
                <span class="bold-note">Pre-and-Post-Data Forms: </span>
                Those eligible for the STEP Together group will complete the Pre-and-Post-Data forms using the link below. These measures will need to be completed by the group participants at least one week before the intervention group and again one week after the group. Please send the link via email to each group member and ensure they are submitted before beginning the group. 
                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 2 %}">
                    {{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 2 %}
                </a>.
                <span class="bold-note">
                You will receive their results via email - please record your client's results in their file as you receive them (e.g., print the email). 
                </span> 
            </li>
            <li>
                <span class="bold-note">Schedule the Group: </span>
                Use the link below to schedule a STEP Together session using our calendar. This allows us to know when STEP Together groups are being run, so we can follow up with you. https://calendly.com/prepped4learning/step-together-1?month=2023-02
            </li>
            <li>
                <span class="bold-note">Participant Checklist Form: </span>
                Complete a Participant Checklist Form for each group member. This will help you keep track of each participant and what they have completed before you begin your STEP Together group. 
                <span class="orange-note">
                (Two versions available for download under the "Downloads" section - STEP Checklist and STEP Checklist with Space for Recording Scores).  
                </span>
            </li>
            <li>
                <span class="bold-note">STEP Worksheets: </span>
                When you receive the measures from each group member (see #6), download the worksheets from the "Downloads" section. Send the worksheets to your clients before the beginning of the group so participants can have them printed and ready to go before the beginning of the group. 
                <span class="orange-note">
                (Available for download under the "Downloads" section - STEP Protocol Sheets). 
                </span>  
            </li>
            <li>
                <span class="bold-note">4 Elements: </span>
                Access the 4 Elements audio, video, and poster as a precaution. In the event of internet issues, please send the resources to each group member with an explanation of what has happened and encourage them to complete the 4 Elements and review the poster until you can reconnect with the group. https://www.prepped4learning.com/r-tep-client-resources 
            </li>
            <li>
                <span class="bold-note">Practice Using Your Video Conferencing Platform: </span>
                Some technology tips for using common features on Zoom or Doxy.me are available in our STEP Cheat Sheet for Video Conferencing Platforms. Ensure that the platform you choose aligns with relevant privacy legislation and that you are comfortable using the features you will need, like screen sharing. Check that noise suppression settings are not enabled or are set to "low" to avoid interference with the music that plays in the background of the videos. Please note, the information contained in this document was current as of December 2025 and may change as your video conferencing platform is updated. 
                <span class="orange-note">
                (Available for download under the "Downloads" section - STEP Cheat Sheet for Video Conferencing Platforms).   
                </span>
            </li>
        </ol>
        <p class="bold-note">
            Please remember to review the After the Group module on Kajabi for guidance on what needs to be done after the second meeting is finished, including: 
        </p>
        <ol>
            <li>Updating the participant checklist </li>
            <li>Sending the feedback form: 
                
                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 6 %}">
                    {{ request.scheme }}://{{ request.get_host }}{% url 'start_testing' 6 %}
                </a>.
            </li>
            <li>Following up with clients</li>
        </ol>

    </div>

{% endblock %}
