{% extends 'clinician_overview/clinician_base_layout.html' %} {% load static %}
{% load static %}
{% load form_extras %}

{% block title %} STEP Together {% endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static 'step_together/styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-white-background">
  <header>
    <h1 class="tab-header">Self Care Traumatic Episode Protocol (STEP) Together</h1>
  </header>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Clinician Agreement</h2>
    <div class="st-cards">
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-agreement-thumbnail.jpeg' %}">
        <p class="st-card-label">Self-Care Traumatic Episode Protocol (STEP) Agreement For STEP Intervention Providers</p>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Manual</h2>
    <div class="st-cards">
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-manual-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Manual</p>
            <p class="st-card-sublabel">Please review the manual carefully before you begin planning your first STEP Together group. It ...</p>
        </div>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">Before the Group</h2>
    <div class="st-cards">
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-checklist-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">STEP Together Pre-Group Checklist, Materials & Forms</p>
            <p class="st-card-sublabel">Below, you will find everything you will need before beginning your first STEP Together group. Pl...</p>
        </div>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">STEP Together Protocol</h2>
    <div class="st-cards">
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-welcome-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Welcome to STEP Together</p>
            <p class="st-card-sublabel">⭐Refer to the script for detailed guidance throughout the protocol. Key points will be brief...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-introduction-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">STEP Self-Care Introduction</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Let's watch the first video with a sh...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-bilateral-tapping-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Bilateral Tapping</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Next, is the Four Elements Video. The...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-4-elements-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">4 Elements</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Ensure you are in a comfortable locat...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-check-in-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Check-In</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Please send us your 0 to 10 ratings B...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-protocol-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">STEP Together Protocol Sheet</p>
            <p class="st-card-sublabel">⭐Re-introduce your team, conduct a technology check, and ensure participants have all the needed...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-check-in-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Check-In</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. What are you taking with you from the...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-container-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">The Container</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Let's do the container activity toget...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-4-elements-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">4 Elements</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. Let's take 10 minutes now before we e...</p>
        </div>
      </div>
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-ending-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">Ending</p>
            <p class="st-card-sublabel">Leaders - please read the text below to your participants. We would like you to take a moment aft...</p>
        </div>
      </div>
    </div>
  </section>

  <section class="st-section">
    <h2 class="st-section-header">After the Group</h2>
    <div class="st-cards">
      <div class="st-card">
        <img class="st-card-image" src="{% static 'step_together/images/step-together-checklist-thumbnail.jpeg' %}">
        <div class="st-card-description">
            <p class="st-card-label">After the Group</p>
            <p class="st-card-sublabel">After the group, please remember to: Pre-and-Past-Data Forms: Those eligible for the STEP Toget...</p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
