{% extends 'step_together/step-together-module-base.html' %} {% load static %}

{% block title %} STEP Together Protocol Sheet {% endblock %} 

{% block step-together-header-image %}
<video id="vid" predownload src="{{ video_url }}" controls controlsList="nodownload" oncontextmenu="return false;"></video>
{% endblock %}
{% block step-together-text %}
    <h1 class="module-header">
        STEP Together Protocol Sheet
    </h1>    
    <h2 class="module-subheader">
        STEP Together Protocol
    </h2>
    <div>
        <p class="bold-note orange-note">
            <i>
                ⭐ Re-introduce your team, conduct a technology check, and ensure participants have all the needed materials before you begin. 
            </i>
        </p>

        <p class="bold-note">
            Leaders - please read the text below to your participants.
        </p>

        <p>
            🖥️ It’s good to see everyone today. Just a quick reminder: as with last time, if you experience internet issues during the protocol, please take a moment to practice deep breathing and try to reconnect. If you’ve only missed a few seconds, you can jump back in and continue with us. If you’ve missed more than a few minutes, one of the facilitators will reach out to you. They will provide the 4 Elements audio and graphic for you to use on your own. They’ll also arrange a time to catch up with you and continue the protocol at a later time.
        </p>

        <p>
            Let's get started.
        </p>

        <p>
            Please give me a thumbs up when you have:
        </p>

        <ul>
            <li>
                printed documents on the table in front of you. Today you will need all three sheets.
            </li>
            <li>
                tissue
            </li>
            <li>
                water
            </li>
            <li>
                wristband or sticker or sticky note. The reminder you used with the 4 Elements last time we met
            </li>
            <li>
                privacy
            </li>
            <li>
                anything else you will need while we work together
            </li>
        </ul>

        <p class="blue-note bold-note">
            Wait for thumbs up from all participants before proceeding. 
        </p>

        <p>
            Also, this is a reminder that the video series uses bilateral stimulation in the form of bilateral beats. If you have a headset, you will notice sound moving from one ear to the other. If you don’t have a headset, that is fine, too; you can tap on your body on one side and then the other, as we did in the first session. If you are wearing a headset and find the beeps bothersome, please remove your headset and continue tapping on your body.
        </p>

        <p>
            You have all had disturbing experiences recently, which may have affected you in different ways. This is a reminder that the work we will do here can help you feel calmer, stronger, and regain your balance. We will not discuss what happened in the group but rather process it individually, guided by the videos.
        </p>

        <p>
            Before we begin, let’s remind ourselves of the 4 Elements exercise.
        </p>

        <p class="blue-note bold-note">
            <i>
                Lead the group through the 4 Elements Exercise. A sample is included below:
            </i>
        </p>

        <p>
            Four Elements Exercise
        </p>

        <ul>
            <li>
                Earth: Place both feet on the ground and feel the support beneath you. Take a moment to “land” and be present. Look around and notice three things you haven’t seen before. What do you hear? What do you smell? You are here, now, as safe as you can be in this moment.
            </li>
            <li>
                Air: Focus on your breathing. Inhale through your nose for 4 seconds, hold for 2, and exhale for 4 seconds. Repeat for five or six slow, deep breaths. Let your breathing bring you back to your center.
            </li>
            <li>
                Water: Notice your mouth—is it dry or wet? Imagine the taste of a lemon and create more saliva. Saliva is a sign of relaxation. Take a moment to feel your focus and control returning.
            </li>
            <li>
                Fire or Light: Picture a calm, safe place—a person, pet, or memory that soothes you. Feel the sensations it brings to your body. Name this place and strengthen the connection with butterfly hugs or bilateral tapping.
            </li>
        </ul>

        <p>
            Remember, you can repeat the exercise several times daily. Use a reminder, like a wristband or sticker, to help. With practice, you’ll more easily access a sense of calm when needed.
        </p>

        <p>
            Now, just like last time, I will be pressing pause and play through the video series. I will also ask you to give us a thumbs up when you are ready to continue. The facilitator(s) will monitor everyone to see when they are ready to proceed and will let me know verbally that we are ready to continue.
        </p>

        <p>
            We are going to take some time to review and process what has happened to help you feel calmer and stronger. Let’s begin...
        </p>

        <p class="blue-note bold-note">
            <i>
                Play Video.
            </i>
        </p>

        <p class="orange-note bold-note">
            <i>
                ⭐ Pause the video when prompted or whenever the group needs more time.  
            </i>
        </p>
    </div>

{% endblock %}

{% block step-together-next-button %}
    Next Module
{% endblock %}
