{% load static %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />


    {% block head %}{%endblock%}
    <link rel="stylesheet" href="{% static 'step_together/module-styles.css' %}">
    <link rel="stylesheet" href="{% static 'clinician_overview/clinician_base_styles.css' %}">
  </head>
  <body>
    <!-- <header id="step-together-header">
        <img src="{% static 'step_together/step-logo-color.jpg' %}">
        <div id="breadcrumb">
            <a href="/step-together/">Home</a> 
        </div>
    </header> -->
    {% block content %}
        <div id="step-together-video-container">
            {% block step-together-video %}
            {% endblock %}
            <div id="module-thumbnail">
                {% block step-together-header-image %}
                {% endblock %}
                {% if scrollbar %}
                    <div id="module-scroller-container">
                        <div id="module-scroller-header">
                            <span id="module-scroller-title">
                                STEP Together Protocol
                            </span>
                            <span id="module-scroller-module-counter">
                                {{scrollbar.modules|length}} Module{% if scrollbar.modules|length != 1 %}s{% endif %}
                            </span>
                        </div>
                        <div id="module-scroller-cards-container">
                            {% for card in scrollbar.modules %}
                                <div class="module-card {% if forloop.counter0 == this_content_index %} selected {% endif %}">
                                    <span>
                                        {{forloop.counter}}
                                    </span>                             
                                    <img class="module-scroller-thumbnail" src="{% static card.img_url %}">
                                    <a class="module-scroller-url" href={{card.page_url}}>
                                        {{card.title}}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if scrollbar %}
                <div id="module-navigation-buttons">
                    <a class="module-navigation-btn">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span> 
                        Back
                    </a>
                    <a class="module-navigation-btn">
                        Next
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span> 
                    </a>
                </div>
            {% endif %}

        </div>
        <div id="step-together-body-container">
            <div id="step-together-text">
                {% block step-together-text %}
                {% endblock %}
                <div class="next-module-button">
                    {% block step-together-next-button %}
                        Next
                    {% endblock %}
                </div>
            </div>
            {% if content_links|length > 0 %}
                <div id="step-together-links">
                    <p id="downloads-header">Downloads</p>
                    {% for link in content_links %}
                        <div  class="module-download-link">
                            <img class="file-download-icon" src="{% static link.icon %}">
                            <a href="{% static link.url %}" download> {{link.name}} </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endblock %}

    <footer>
        <img src="{% static 'clinician_overview/STEP Logo_White.png' %}" id="footer-logo">
        <span>
            © 2026 Prepped 4 Learning
        </span>
    </footer>

  </body>

</html>


