{% extends 'clinician_overview/clinician_base_layout.html' %} {% load static %}
{% load static %}
{% load form_extras %}

{% block title %} STEP Together {% endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static 'step_together/styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-white-background">
  <header>
    <h1 class="tab-header">Self Care Traumatic Episode Protocol (STEP) Together</h1>
  </header>

  {% for module in modules %}
      <section class="st-section">
        <h2 class="st-section-header">{{ module.title }}</h2>
        <div class="st-cards">
          {% for section in module.modules %}
            <div class="st-card">
              <img class="st-card-image" src="{% static section.img_url %}">
              <div class="st-card-description">
                  <p class="st-card-label"><a href={{section.page_url}}>{{section.title}}</a></p>
                  <p class="st-card-sublabel">{{section.description}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

  {% endfor %}
</div>
{% endblock %}
