<div style="font-family:Arial;">
<p>Client ID: <span style="text-decoration:underline;">{{ client_id }}</span></p>

<p>Score: <span style="font-weight:bold">56</span></p>


<p>This information is provided to support your treatment planning. Scores above <span style="font-weight:bold;">33</span> indicate clinically significant symptoms of PTSD.</p>

<p><span style="font-weight:bold;">STEP Solo:</span> As a reminder, those with clinically significant symptoms of PTSD (scores above 33) are not recommended to participate in STEP Solo. Instead, the clinician may prefer to evaluate if STEP Together or one-to-one interventions would be most appropriate for these individuals. </p>

<p><span style="font-weight:bold;">STEP Together:</span> Please note that this measure does not include cut-off scores for participation in a STEP Together group.</p>

<p>To learn more about how the PCL5 is scored, <a href="https://novopsych.com/assessments/diagnosis/ptsd-checklist-5-pcl-5/">see here</a>.</p>
</div>