{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'initial_screening/styles.css'%}?v=1234 ">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <title>{{ questionnaire.name }}</title>
    </head>
    <body>
        {% load form_extras %}
        <div id="questionnaire-container">
            <h1>{{ questionnaire.name }}</h1>
            <!-- <form method="POST">
                {% csrf_token %}

                {{ form }}
            </form> -->

            <form method="POST">

                {% for block in questionnaire.question_blocks.all %}
                    <section>
                        <div class="question-header-container">
                            <p class="question-block-title">{{ block.title }}</p>
                            <p class="question-block-description">{{ block.description }}</p>
                        </div>

                        {% for question in block.questions.all %}
                            <div class="question-container">
                                <div class="question-text-container">
                                    {% if question.is_required %}
                                        <p class="required-arrow">*</p>
                                    {% endif %}
                                    <p class="question-text">{{ question.text }}</p>
                                </div>

                                {% if question.question_type == 'text' %}
                                    <input 
                                        {% if question.is_required %}
                                            required 
                                        {% endif %}
                                        class="input-field" 
                                        type="text" 
                                        name="{{ question.id }}"
                                        >
                                {% elif question.question_type == 'dropdown' %}
                                    <select
                                        {% if question.is_required %}
                                            required 
                                        {% endif %} 
                                        class="input-field" 
                                        name="{{question.id}}" 
                                        id="question_{{question.id}}">
                                        {% for option in question.options.all %}
                                            <option value="{{ option.id }}">{{ option.text }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif question.question_type == 'radio' %}
                                    <div class="radio-input-container">
                                        {% for option in question.options.all %}
                                            <label>
                                                <input 
                                                    {% if question.is_required %}
                                                        required 
                                                    {% endif %} 
                                                    class="input-field radio-input" 
                                                    type="radio" 
                                                    name="{{ question.id }}" 
                                                    value="{{ option.id }}">
                                                {{ option.text }}
                                            </label>
                                            <br>
                                        {% endfor %}
                                    </div>
                                {% elif question.question_type == 'textarea' %}
                                    <textarea 
                                        {% if question.is_required %}
                                            required 
                                        {% endif %} 
                                        class="input-field textarea-input" 
                                        name="{{ question.id }}"
                                        rows="4" 
                                        cols="50"></textarea>

                                {% endif %}
                            </div>
                        {% endfor %}

                        {% with blocks_count=questionnaire.question_blocks.count %}
                            {% if block.order != blocks_count %} 
                                <hr>
                            {% endif %}
                        {% endwith %}
                    </section>
                {% endfor %}
                <div id="questionnaire-citation">
                    {{ questionnaire.citation }}
                </div>

                <button type="submit">
                    {% if questionnaire.order == questionnaire_count %}
                        Submit
                    {% else %}
                        Next 
                    {% endif %}
                </button>

                {% csrf_token %}
            </form>
        </div>
    </body>
</html>