body {
    background-color: rgb(128, 164, 169);
    font-family: "Arial", "Helvetica Neue", Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: rgb(75, 53, 28);
    font-style: normal;
    font-weight: 400;
}

#questionnaire-container, #thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}


#questionnaire-container > h1,  #thank-you-container > h1 {
    background-color: rgb(198, 135, 60);
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    width: 90%;
    padding: 20px;
}

#questionnaire-container form {
    width: calc(90% + 40px)
}

.question-text-container {
    display: flex;
    flex-direction: row;
}

.question-text, .required-arrow {
    line-height: 1.8em;
}


.question-container {
    padding-bottom: 5px;
}

.required-arrow {
    color: rgb(198, 135, 60);
    display: inline;
    font-weight: bold;
    padding-right: 5px;
    display: inline;
}

.input-field {
    padding: 7px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(207, 212, 216);
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    color: rgb(75, 53, 28);
    line-height: 1.4em;
    font-size: 1em;
}

button {
    margin: 10px auto;
    margin-top: 40px;
    border-radius: 0px;
    border: 0px;
    background-color: rgb(198, 135, 60);
    color: white;
    line-height: 14px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
}

hr {
    color: rgb(198, 135, 60);
}

#submit-button-container {
    width: 100%;
}

.radio-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-input-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 20px 20px 20px;
}

.radio-input-container .radio-input {
    width: 20px;
    accent-color: rgb(75, 53, 28);
}

.radio-input.input-field {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    box-sizing:border-box;

}

.radio-input.input-field:checked {
    background: rgb(75, 53, 28);
}

.radio-input.input-field::after {
    content: "";
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s ease-in-out;
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
}

.radio-input.input-field:checked::after {
    transform: scale(1);
}

textarea.textarea-input {
    min-height: 100px;
}

section {
    padding: 20px 0;
}

.question-block-title, .question-block-description {
    font-size: 18px;
    margin: 2px 0;
}

.question-header-container {
    margin-bottom: 5px;
    text-align: center;
}

.question-block-title {
    font-weight: bold;
}

