.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#back-to-all-clients {
    display: flex;
    align-items: center;
}

header {
    margin-bottom: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover .link-text {
    text-decoration: underline;
}

#client-summary-body {
    background-color: white;
    padding: 0 20px 40px;
}

#client-header-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
}

#client-data-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
}

.client-tag, .white-tag-pill {
    margin: auto 10px;
    padding: 0.5em 2em;
    color: black;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
}

.tags-control-button {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#add-button {
    color: var(--bluish);
    cursor: pointer;
}

.material-symbols-outlined.material-tags-control-badge {
    display: inline;
    background-color: white;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    padding: 5px;
    color: var(--bluish);
    display: inline-flex;
    cursor: pointer;
    margin-right: 5px;
}

.delete-icon {
    cursor: pointer;
}

#client-id {
    font-size: 20px;
    margin: 0 5px 0 0;
    font-weight: 500;
}

#overview-tables-container {
    display: flex;
    gap: 40px;
}

#overview-tables-container .etable, #submissions-table .etable {
    margin: 0;
}

#tags-list-container {
    display: inline;
}

#add-tag-input, #add-tag-input:focus-visible, #add-tag-input:focus {
    appearance: none;
    border: none;
    border-radius: 50px;
    padding: 0 8px;
    width: 120px;
}

.white-tag-pill:has(#add-tag-input) {
    padding: 8px 10px;
}