html {
  font-family: Arial;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: rgb(128, 164, 169);
}

h1 {
  background-color: rgb(198, 135, 60);
  text-align: center;
  padding: 3rem;
  color: white;
  width: 75%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 66%;
  padding-bottom: 6rem;
}

table {
  width: fit-content;
  font-size: 1.3rem;
}