:root {
  --brown: rgba(78, 57, 34);
  --bluish: rgba(80, 130, 138);
  --orangey: rgb(198, 135, 60);
}

* {
  font-family: "Poppins";
}

#step-logo {
  height: 48px;
  margin-top: 1rem;
}

main {
  flex: 1;
  background-color: var(--bluish);
  padding: 1rem 1rem 0 1rem;
  overflow: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
h1 {
  color: white;
}

.content-columns {
  display: flex;
}

a {
  color: var(--orangey);
  text-decoration: underline;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;

  
  li.active {
    background-color: var(--orangey);
  }

  ul {
    margin: auto;
    padding-left: 0;
  }
  li {
    padding: 0.5rem;
    list-style-type: none;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.tab-header {
  background-color: var(--orangey);
  color: white;
  padding: 1rem;
  font-weight: normal;
  margin: 0 0 4px 0;
}

.etable {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}
.etable-header-row {
}
.etable-header-cell {
  border: 2px solid var(--bluish);
  padding: 1rem 1rem;
  color: white;
  background-color: var(--brown);
}
.etable-row {
  background-color: white;
}
.etable-row:nth-child(even) {
  background-color: #f6f6f6;
}
.etable-cell {
  font-size: 0.8rem;
  padding: 1rem;
  border: 2px solid var(--bluish);
  text-align: center;
}

footer {
  background-color: var(--brown);
  width: 100vw;
  color: white;
  left: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  h4 {
    margin: .5rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
