:root {
  --brown: rgba(78, 57, 34);
  --bluish: rgba(80, 130, 138);
  --orangey: rgb(198, 135, 60);
}

* {
  font-family: "Poppins";
}

#step-logo {
  height: 48px;
  margin-top: 1rem;
}

main {
  flex: 1;
  background-color: var(--bluish);
  padding: 1rem 1rem 0 1rem;
  overflow: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
h1 {
  color: white;
}

.content-columns {
  display: flex;
  gap: 2rem;
}

#client-header-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    color: white;
}

@media (max-width: 768px) {
  .content-columns {
    flex-direction: column;
  }

  #client-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  #main {
    padding-left: 0;
    margin-left: 0;
  }

  .etable-container {
    overflow-x: auto;
  }
}
@media (min-width: 769px) {
  .content-columns {
    flex-direction: row;
  }

  #main {
    margin-left: 1rem; 
    width: 100%;
  }
}

a {
  color: var(--orangey);
  text-decoration: underline;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;

  
  li.active {
    background-color: var(--orangey);
  }

  ul {
    margin: auto;
    padding-left: 0;
  }
  li {
    padding: 0.5rem;
    list-style-type: none;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, .tab-header {
  background-color: var(--orangey);
  color: white;
  font-weight: normal;
  margin: 0 0 4px 0;
}

.etable {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.etable-header-cell {
  border: 2px solid var(--bluish);
  padding: 1rem 1rem;
  color: white;
  background-color: var(--brown);
}
.etable-row {
  background-color: white;
}
.etable-row:nth-child(even) {
  background-color: #f6f6f6;
}
.etable-cell {
  font-size: 0.8rem;
  padding: 1rem;
  border: 2px solid var(--bluish);
  text-align: center;
  /* white-space: nowrap; */
}

.etable-container {
  margin: auto;
}

footer {
  background-color: var(--brown);
  width: 100vw;
  color: white;
  left: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  h4 {
    margin: .5rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.page-white-background {
    background-color: white;
    padding-bottom: 30px;
}

.etable-cell-pill {
    border-radius: 50px;
    padding: 4px 8px;
}

.bluish-pill {
    border-radius: 50px;
    background-color: color-mix(in srgb, var(--bluish) 60%, transparent);
    line-height: 2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

select {
    padding: 7px;
    background-color: white;
    border: 1px solid rgb(207, 212, 216);
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    color: rgb(75, 53, 28);
    line-height: 1.4em;
    max-width: 100%;
}

.centered-flex-container {
    display: flex;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.clickable-div, a {
    cursor: pointer;
}

#submissions-controls {
    gap: 2em;
}

.hide-when-no-rows-selected {
    display: none;
}

#selected-counter {
    margin-right: 5px;
}

.material-symbols-outlined.material-tags-control-badge {
    display: inline;
    background-color: white;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    padding: 5px;
    color: var(--bluish);
    display: inline-flex;
    cursor: pointer;
    margin-right: 5px;
}
