* {
  font-family: 'Poppins'
}
body {
  background-color: rgb(128, 164, 169);
}
h1 {
  color: white;
}


.content-columns {
  display: flex;
}

nav {
  background-color: rgba(255,255,255,.2);
  color: white;

  ul {
    padding: .5rem;
  }
  li {
    list-style-type: none;
    text-align: center;
  }
}