#page-nav {
  width: 100vw;
  padding: 1rem;
  background: rgb(38, 38, 39);
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  

}

.nav-item {
  color: white;
  list-style-type: none;
  height: 100%;
  a {
    font-size: 1.3rem;
    padding: .5rem;
    font-family: Arial;
    text-decoration: none;
    color: white;
  }
}

.nav-item:hover {
  background-color: white;
  a {
    color: black;
  }
}