{% extends "step_solo/base.html" %}
{% load static %}
{% block title %}Check In: Have You Watched The Introduction?{% endblock %}

{% block head %}
{% endblock head %}

{% block header %}
<h2 class="step-title-header">Self Care Traumatic Episode Protocol (STEP) Solo</h2>
<hr>
<h1 class="page-title">Check in: Have you Watched The Introduction?</h1>
{% endblock %}

{% block content %}
<h4 class="bluish">Before continuing, please make sure you have:</h4>
<ul>
  <li>Watched the Introduction Video</li>
  <li>Watched the Bilateral Tapping Video</li>
</ul>
<p>Next, you'll complete the <strong>4 Elements Exercise</strong> to ground yourself, followed by processing your experience using bilateral tapping. The whole process will take about 90 minutes.</p>
<p>As a reminder, if at any point the information you provide suggests STEP Solo may not be the right fit for you at this time, you may be directed toward other interventions for additional support. In this case, your STEP Intervention Provider will follow up with you to develop a treatment plan that better suits your needs.</p>
<p>Please ensure you are in a comfortable location and away from other distractions or activities.</p>
<br><br><br><br><br>
<a class="blue-button next-lesson" href="/">Next Lesson</a>
{% endblock %}
