{% extends 'step_solo/lesson_base.html' %}
{% load static %}
{% block lesson_content %}
<h2 class="page-title">{{title}}</h2>
<video predownload src="{{video_url}}" controls controlsList="nowdownload" oncontextmenu="return false;"></video>
<section>
  <p>If you have any remaining PoDs, you can return to the <strong>STEP Solo</strong> videos at another time to continue processing them.</p>
<p>When you’re ready, continue to the next videos, where you’ll be guided through the <strong>Container</strong> and <strong>4 Elements</strong> exercises to help you ground and close the process.</p>
</section>

{% endblock %}
